﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using PRN221_Project_ShopOnline.Models;

@{
    //Get data
    User users = (User)ViewBag.Users;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="image/faviconLogo.png" />
    <title>Computer ERA</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!--Custom Style-->
    <link rel="stylesheet" href="~/css/EditAccount.css" />
</head>
<body>
    @Html.Partial("MenuBar")

    <div id="editEmployeeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Edit Account form -->
                <form action="UpdateAccount" method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Account</h4>
                        <!--Cancel: Back to Manage Account-->
                        <a type="button" class="close" href="/AccountManager/Index" aria-hidden="true">&times;</a>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id" value="@users.UserId" readonly>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" value="@users.Username" readonly>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" value="@users.Email" readonly>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" value="@users.Password" readonly>
                        </div>

                        <!--Only allow change user role, not user info-->
                        <div class="form-group">
                            <label>Seller</label>
                            <input type="checkbox" class="form-control" name="IsSeller" value="1" @(users.IsSeller == 1 ? "checked" : "") style="height: 30px;">
                        </div>
                        <div class="form-group">
                            <label>Admin</label>
                            <input type="checkbox" class="form-control" name="IsAdmin" value="1" @(users.IsAdmin == 1 ? "checked" : "") style="height: 30px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--Cancel: Back to Manage Account-->
                        <a type="button" class="btn btn-default" href="/AccountManager/Index">Cancel</a>
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>